*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-image: url("../imgs/logo.jpg");
    height: 11em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    border-radius: 5px;
    background-color: #FFFFF7;
}

.container {
    border-radius: 5px;
    background-color: #FFFFF7;
    padding: 20px;
    min-height: 500px;
}

.sub_container{
    display: flex;
    justify-content: center;
    width: inherit;
}

.sign_up_form, .sign_in_form{
    display: none;
}

.small_text:focus {
    box-shadow: 3px 6px #888888; 
}

.error {
    color: red;
}

/* drop down */
.dropdown {
    position: relative;
    background-color: #666666;
    width: 268px;
    display: inline-block;
    margin: 0px 0px 30px 0px;
}

.dropbtn {
    transition: 0.8s;
    background-color: #666666;
    color: white;
    padding: 11px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #0d0d0d;
    width: 268px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 1;
}

.dropdown_content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
}

.dropdown_content span:hover {
    background-color: #595959;
    cursor: pointer;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #404040;
    padding: 24px 10px;
}

.dropdown:hover {
    margin-top: 2px;
}
/* end of drop down */

.notification {
    text-align: center;
    font-size: 24px;
    color: red;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit], .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin: 8px 0px 0px 0px;;
}
  
input[type=submit]:hover, .btn:hover, .upload_form input[type=submit]:hover {
    background-color: #45a049;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.welcome {
      text-align: center;
}

.reports {
    overflow: scroll;
    height: 15em;
    background-color: white;
    border: #404040 1px solid;
    margin: 10px 0px 10px 0px;
}

.messages {
    overflow: scroll;
    height: 15em;
    background-color: white;
    border: #404040 1px solid;
    margin: 10px 0px 10px 0px;
}

.messages p {
    margin: 5px 0px 0px 0px;
}

.choices{
    display: flex;
    justify-content: center;
}

.choices div {
    margin: 0px 0px 0px 57px;
}

.users {
    overflow: scroll;
    float: left;
    height: 15em;
    width: 40%;
    background-color: white;
    border: #404040 1px solid;
    margin: 10px;
    padding: 5px 0px 0px 8px;
}

.send_message {
    display: none;
    margin: 10px;
}

#user_message {
    height: 10em;
    text-align: left;
    vertical-align: top;
}

.pad_5_center{
    padding: 5px;
    text-align: center;
}

.user_reports_in_admin {
    display: flex;
    justify-content: center;
    margin: 5px 0px 0px 0px;
}

.user_reports_in_admin .reports {
    text-align: center;
    width: 80%;
}

.center_items_container {
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
}

.user_info {
    font-size: 19px;
    font-weight: 700;
    padding: 7px 0px 0px 0px;
}

.form_container{
    display: flex;
    justify-content: center;
    height: 14em;
}

.upload_form {
    justify-content: center;
    width: 50%;
}

.drag_and_drop {
    width: 100%;
    height: 90%;
    text-align: center;
    border: 4px dashed #595959;
}

.upload_form p{
    position: relative;
    left: 0%;
    top: 42%;
    text-align: center;
    color: #595959;
    font-family: Arial;
    display: inline;
}

.upload_form input[type=file]{
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

.upload_form input[type=submit]{
    color: #fff;
    background: #4CAF50;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
    margin: 5px 0px 0px 0px;
    float: none;
}
.upload_btn_container {
    text-align: center;
}

.upload_form button:hover{
    background: #149174;
    color: #0C5645;
}

.upload_form button:active{
    border:0;
}

.btn {
    margin-right: 8px;
}

.report_info {
    padding: 3px 0px 0px 8px;
}

.wide {
    width: 100%;
    padding: 0px;
}

.safe {
    color: #4CAF50;
    font-size: 19px;
    display: inline-block;
}

.not_safe {
    color: red;
    font-size: 19px;
    display: inline-block;
}

#company_info {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#company_info td, #company_info th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#company_info tr:nth-child(even){
    background-color: #f2f2f2;
}
  
#company_info tr:hover {
    background-color: #ddd;
}
  
#company_info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, .messages, .reports, .users, .user_reports_in_admin .reports{
      width: 100%;
      margin-top: 0;
    }
    .reports, .users {
        float: right;
    }
    input[type=submit], .upload_form input[type=submit], .btn{
        width: 100%;
        margin-top: 8px;
    }
}

.safe:defined, .not_safe:defined {
    animation: bounce 2s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}