<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>

<body>
    <h1>Admin Page</h1>
    <h2>All users </h2>
    <div style="border: black;">
        {% for user in all_users %}
        <p>{{ user.first_name }} || 
            {{ user.last_name }} || 
            {{ user.email }}
        <a href="admin/show_user/{{user.id}}">view</a>
        </p>
        {% endfor %}
    </div>
    <h1>Messages form users </h1>
    <div>
        {% for one_message in all_messages %}
        <p>{{ one_message.user.first_name }} SENT THIS MESSAGE: {{ one_message.message }}</p>
        {% endfor %}

    </div>
</body>

</html>