<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'safe_zone_app/css/style.css' %}">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script>
        $("document").ready(function () {
            $("#sign_out").click(function () {
                var url = "/sign_out";
                $(location).attr('href', url);
            })
        })
    </script>
</head>

<body>
    {% include "safe_zone_app/header.html" %}

    <div class="container">
        <div class="sub_container">
            <nav class="dropdown">
                <div class="dropbtn">Menu</div>
                <div class="dropdown_content">
                    <span id="edit">
                        Edit profile
                    </span>
                    <span id="sign_out">
                        Sign out
                    </span>
                </div>
            </nav>
        </div>

        <div class="row">
            <h1 class="welcome">
                Welcome {{request.session.first_name}} {{request.session.last_name}}
            </h1>
        </div>

        <div class="row">
            <div class="reports wide">
                <table id="company_info">
                    <tr>
                        <th>User ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Email</th>
                        <th>Report Link</th>
                    </tr>
                    <!-- 0 refers to user id, 1- first name, 2- last name, 3 user email,
        check admin function in views.py -->
                    {% for user in all_users %}
                    <tr>
                        <td>{{ user.0 }}</td>
                        <td>{{ user.1 }}</td>
                        <td>{{ user.2 }}</td>
                        <td>{{ user.3 }}</td>
                        <td>
                            <a href="admin/show_user/{{user.0}}">view</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="messages wide">
                <table id="company_info">
                    <tr>
                        <th>User ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Email</th>
                        <th>Message</th>
                    </tr>
                    {% for message in all_messages %}
                    <tr>
                        <td>
                            {{message.user.id}}
                        </td>
                        <td>
                            {{ message.user.first_name }}
                        </td>
                        <td>
                            {{message.user.last_name}}
                        </td>
                        <td>
                            {{message.user.email}}
                        </td>
                        <td>
                            {{ message.message }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>

</html>