<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit user info</title>
</head>

<body>
    <div>
        <h1>Edit user information</h1>
        <form action="/edit_info/{{user_id}}" method="POST">
            {% csrf_token %}
            first name:
            <input type="text" name="first_name" value="{{user_first_name}}">
            last name:
            <input type="text" name="last_name" value="{{user_last_name}}">
            email:
            <input type="text" name="email" value="{{user_email}}">
            
            <input type="submit" value="edit">
        </form>
    </div>
</body>

</html>