<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit My Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'safe_zone_app/css/style.css' %}">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script>
        $("document").ready(function () {

            $("#sign_out").click(function () {
                var url = "/sign_out";
                $(location).attr('href', url);
            });
            $("#back").click(function () {
                window.history.back();
            });
        });
    </script>
</head>

<body>
    {% include "safe_zone_app/header.html" %}
    <div class="container">
        <div class="row sub_container">
            <nav class="dropdown">
                <div class="dropbtn">Menu</div>
                <div class="dropdown_content">
                    <span id="back">
                        Back
                    </span>
                    <span id="sign_out">
                        Sign out
                    </span>
                </div>
            </nav>
        </div>
        <form action="/edit_my_profile/{{user_id}}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                    <label for="first_name">First Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="first_name" id="first_name" value="{{user_first_name}}">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="last_name">Last Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="last_name" id="last_name" value="{{user_last_name}}">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="email">Email:</label>
                </div>
                <div class="col-75">
                    <input type="text" name="email" value="{{user_email}}">
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn" value="Edit">
            </div>
        </form>
    </div>
</body>

</html>