<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Safe Zone</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'safe_zone_app/css/style.css' %}">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
        $("document").ready(function () {
            $("#sign_up").click(function () {
                $(".sign_in_form").hide();
                $(".form_container").hide();
                $(".notification").hide();
                $(".sign_up_form").css("display", "block");
            })
            $("#sign_in").click(function () {
                $(".sign_up_form").hide();
                $(".form_container").hide();
                $(".notification").hide();
                $(".sign_in_form").css("display", "block");
            })
            $("#upload_file").click(function () {
                $(".sign_up_form").hide();
                $(".sign_in_form").hide();
                $(".notification").hide();
                $(".form_container").css("display", "flex");
                show()
            })

            $('.upload_form input').change(function () {
                $('.upload_form p').text(this.files.length + " file(s) selected");
            });

            $(function () {
                $("#dialog").dialog({
                    autoOpen: false,
                    show: {
                        effect: "blind",
                        duration: 1000
                    },
                    hide: {
                        effect: "explode",
                        duration: 1000
                    }
                });
            });
        });

        $(document).on('submit', '#user_upload_form', function (event) {

            event.preventDefault();

            var form = $(this);
            var formdata = false;
            if (window.FormData) {
                formdata = new FormData(form[0]);
            }

            var formAction = form.attr('action');
            $.ajax({
                url: '/upload',
                data: formdata ? formdata : form.serialize(),
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
            });
        })
    </script>

</head>

<body>
    {% include "safe_zone_app/header.html" %}

    <div class="container">
        <div class="sub_container">
            <nav class="dropdown">
                <div class="dropbtn">Menu</div>
                <div class="dropdown_content">
                    <span id="sign_up">
                        Sign up
                    </span>
                    <span id="sign_in">
                        Sign in
                    </span>
                    <span id="upload_file">
                        Upload a file
                    </span>
                </div>
            </nav>
        </div>
        {% if request.session.message != "" %}
        <div class="notification">
            {{request.session.message}}
        </div>
        {% endif %}

        <div class="row form_container">
            <form action="/upload" method="POST" class="upload_form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="drag_and_drop">
                    <p>Drag and drop a file, or click here to choose a file</p>
                    <input type="file" name="file" required>
                </div>
                <div class="row upload_btn_container">
                    <input type="submit" value="Upload">
                </div>
            </form>
        </div>

        <form class="sign_up_form" action="/sign_up" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                    <label for="fname">First Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="first_name" placeholder="Your First name..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Last Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="last_name" placeholder="Your Last name..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="email">Email:</label>
                </div>
                <div class="col-75">
                    <input type="email" id="email" name="email" placeholder="Your Email..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="password">Password:</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="password" placeholder="Your Password..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="confirm_password">Repeat Password:</label>
                </div>
                <div class="col-75">
                    <input type="password" id="confirm_password" name="confirm_password"
                        placeholder="Repeat Your Password..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="secret_question">Secret Question:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="secret_question" name="secret_question"
                        placeholder="Secret Question to reset your password" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="secret_answer">Secret Answer:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="secret_answer" name="secret_answer"
                        placeholder="Secret Answer to reset your password" required>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>

        <form class="sign_in_form" action="/validate" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                    <label for="email">Email:</label>
                </div>
                <div class="col-75">
                    <input type="email" id="email" name="email" placeholder="Your Email..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="password">Password:</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="password" placeholder="Your Password..." required>
                </div>
            </div>
            <div class="row">
                <div class="choices">
                    <div>
                        <label for="admin">Admin:</label>
                        <input type="radio" name="choice" id="admin" value="admin">
                    </div>
                    <div>
                        <label for="user">User:</label>
                        <input type="radio" name="choice" id="user" value="user">
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
        <div id="dialog" title="Basic dialog">
            <p>The report is ready</p>
        </div>
    </div>
</body>

</html>