<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Safe Zone</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'safe_zone_app/css/style.css' %}">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script>
        $("document").ready(function () {
            $("#sign_up").click(function () {
                $(".sign_in_form").hide();
                $(".sign_up_form").css("display", "block");
            })
            $("#sign_in").click(function () {
                $(".sign_up_form").hide();
                $(".sign_in_form").css("display", "block");
            })
        })
    </script>

</head>

<body>
    {% include "safe_zone_app/header.html" %}

    <div class="container">
        <div class="sub_container">
            <nav class="dropdown">
                <div class="dropbtn">Menu</div>
                <div class="dropdown_content">
                    <span id="sign_up">
                        Sign up
                    </span>
                    <span id="sign_in">
                        Sign in
                    </span>
                </div>
            </nav>
        </div>
        {% if request.session.message != "" %}
        <div class="message">
            {{request.session.message}}
        </div>
        {% endif %}

        <form class="sign_up_form" action="#" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                    <label for="fname">First Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="first_name" placeholder="Your First name..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Last Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="last_name" placeholder="Your Last name..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="email">Email:</label>
                </div>
                <div class="col-75">
                    <input type="email" id="email" name="email" placeholder="Your Email..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="password">Password:</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="password" placeholder="Your Password..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="confirm_password">Repeat Password:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="confirm_password" name="confirm_password"
                        placeholder="Repeat Your Password..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="secret_question">Secret Question:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="secret_question" name="secret_question"
                        placeholder="Secret Question to reset your password" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="secret_answer">Secret Answer:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="secret_answer" name="secret_answer"
                        placeholder="Secret Answer to reset your password" required>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>

        <form class="sign_in_form" action="/sign_in" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                    <label for="email">Email:</label>
                </div>
                <div class="col-75">
                    <input type="email" id="email" name="email" placeholder="Your Email..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="password">Password:</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="password" placeholder="Your Password..." required>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>

</html>