<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Reports</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'safe_zone_app/css/style.css' %}">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

    <script>
        $("document").ready(function () {

            $(".form_container").hide();

            $("#sign_out").click(function () {
                var url = "/sign_out";
                $(location).attr('href', url);
            });
            $("#back").click(function () {
                window.history.back();
            });

            $("#btnPrint").on("click", function () {
                var divContents = $("#print_container").html();

                var printWindow = window.open('', '', 'height=400,width=800');
                printWindow.document.write('<html><head><title>Report {{report.id}}</title>');
                printWindow.document.write('</head><body >');
                printWindow.document.write(divContents);
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.print();

            });
        });
    </script>
</head>

<body>
    {% include "safe_zone_app/header.html" %}

    <div class="container">
        <div class="row sub_container">
            <nav class="dropdown">
                <div class="dropbtn">Menu</div>
                <div class="dropdown_content">
                    <span id="back">
                        Back
                    </span>
                    <span id="sign_out">
                        Sign out
                    </span>
                </div>
            </nav>
        </div>
        <div class="row">
            <h1 class="welcome">
                Welcome {{request.session.first_name}} {{request.session.last_name}}
            </h1>
        </div>

        <span id="print_container">
            <style>
                #company_info {
                    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }

                #company_info td,
                #company_info th {
                    border: 1px solid #ddd;
                    padding: 8px;
                }

                #company_info tr:nth-child(even) {
                    background-color: #f2f2f2;
                }

                #company_info tr:hover {
                    background-color: #ddd;
                }

                #company_info th {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    background-color: #4CAF50;
                    color: white;
                }
            </style>
            <div class="row">
                <table>
                    <tbody>
                        <tr>
                            <td class="report_info row">
                                User ID: {{report.user.id}}
                            </td>
                        </tr>
                        <tr>
                            <td class="report_info row">
                                Report ID: {{report.id}}
                            </td>
                        </tr>
                        <tr>
                            <td class="report_info row">
                                Checked at: {{report.checked_at}}
                            </td>
                        </tr>
                        <tr>
                            <td class="report_info row">
                                md5: {{report.md5}}
                            </td>
                        </tr>
                        <tr>
                            <td class="report_info row">
                                sha1: {{report.sha1}}
                            </td>
                        </tr>
                        <tr>
                            <td class="report_info row">
                                sha256: {{report.sha256}}
                            </td>
                        </tr>
                        <tr>
                            <td class="report_info row">
                                {% if report.is_safe is True %}
                                <span class="safe">The file is safe </span>
                                {% else %}
                                <span class="not_safe">The file NOT safe</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row center">
                <div class="reports wide">
                    <table id="company_info">
                        <tr>
                            <th>Company</th>
                            <th>Detected</th>
                            <th>Version</th>
                            <th>Result</th>
                            <th>Report ID</th>
                        </tr>
                        {% for company in companies %}
                        <tr>
                            <td>
                                <span>{{company.name}}</span>
                            </td>
                            <td>
                                <span>{{company.detected}}</span>
                            </td>
                            <td>
                                <span>{{company.version}}</span>
                            </td>
                            <td>
                                <span>{{company.result}}</span>
                            </td>
                            <td>
                                <span>{{company.report_id}}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </span>
        <div class="row center">
            <input type="button" class="btn" id="btnPrint" value="Print as pdf">

            <form action="/report/delete" method="POST">
                {% csrf_token %}
                <input type="submit" value="DELETE">
                <input type="hidden" name="user_id" value="{{report.user.id}}">
                <input type="hidden" name="report_id" value="{{report.id}}">
            </form>
        </div>
    </div>
</body>

</html>