<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Safe Zone</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'safe_zone_app/css/style.css' %}">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script>
        $("document").ready(function () {
            $("#sign_out").click(function () {
                var url = "/sign_out";
                $(location).attr('href', url);
            })
            $("#direct_message").click(function () {
                $(".user_reports_messages").hide();
                $(".notification").hide()
                $(".send_message").css("display", "block");
            })
        })
    </script>
</head>

<body>
    {% include "safe_zone_app/header.html" %}

    <div class="container">
        <div class="sub_container">
            <nav class="dropdown">
                <div class="dropbtn">Menu</div>
                <div class="dropdown_content">
                    <span id="edit">
                        Edit profile
                    </span>
                    <span id="sign_out">
                        Sign out
                    </span>
                    <span id="direct_message">
                        Send a message to the admin
                    </span>
                </div>
            </nav>
        </div>

        <div class="row">
            <h1 class="welcome">
                Welcome {{request.session.first_name}} {{request.session.last_name}}
            </h1>
        </div>
        <div class="row user_reports_messages">
            <div class="reports">
                {% for report in reports %}
                <p>
                    {{report}}
                </p>
                {% endfor %}
            </div>
            <div class="messages">
                {% for message in messages %}
                <p>
                    Message: {{message.message}} <br> Sent at {{message.created_at}}
                </p>
                {% endfor %}
            </div>
        </div>
        <form action="user_in/message_sent/{{user.id}}" method="post">
            {% csrf_token %}
            <div class="send_message">
                <div class="row">
                    <input type="text" name="user_message" id="user_message"
                        placeholder="Please write your message here...">
                </div>
                <div class="row">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</body>

</html>