<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Safe Zone</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'safe_zone_app/css/style.css' %}">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $("document").ready(function () {

            $(".form_container").hide();

            $("#sign_out").click(function () {
                var url = "/sign_out";
                $(location).attr('href', url);
            });
            $("#edit").click(function () {
                var url = "user_in/edit_my_profile/{{user.id}}";
                $(location).attr('href', url);
            });
            $("#direct_message").click(function () {
                $(".user_reports_messages").hide();
                $(".notification").hide();
                $(".form_container").hide();
                $(".center").hide();
                $(".send_message").css("display", "block");
            });

            $("#user_page").click(function () {
                $(".send_message").hide();
                $(".notification").hide();
                $(".form_container").hide();
                $(".center").css("display", "flex");
            });

            $("#upload_file").click(function () {
                $(".notification").hide();
                $(".send_message").hide();
                $(".center").hide();
                $(".form_container").css("display", "flex");
            });

            $('.upload_form input').change(function () {
                $('.upload_form p').text(this.files.length + " file(s) selected");
            });

            $("#upload_btn").click(function () {
                var file = $("#file").val();

                if (file) {
                    $("#dialog p").html("Your file is being checked, you will be notified when the report is ready");
                    $("#dialog").dialog("open");
                    $("#upload_btn").fadeOut(2000);
                }
            });

            $(function () {
                $("#dialog").dialog({
                    autoOpen: false,
                    show: {
                        effect: "puff",
                        duration: 1000
                    },
                    hide: {
                        effect: "fold",
                        duration: 1000
                    }
                });
            });
        });

        $(document).on('submit', '#user_upload_form', function (event) {
            event.preventDefault();

            var form = $(this);
            var formdata = false;
            if (window.FormData) {
                formdata = new FormData(form[0]);
            }

            var formAction = form.attr('action');
            $.ajax({
                url: '/upload',
                data: formdata ? formdata : form.serialize(),
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                complete: function (data, textStatus, jqXHR) {
                    if (data.responseText === "True") {
                        $("#dialog").append("<div class=row><input type=submit id=view value=View></div>");
                        $("#dialog p").html("Your report is ready, thank you for your patience");
                        $("#dialog").dialog("open");
                    }
                    else {
                        $("#dialog p").html("<sapn class=error>An error occurred while checking your file, please upload it again</span>");
                        $("#dialog").dialog("open");
                    }
                }
            });

            $(document).on('click', '#view', function () {
                var url = "/user_in";
                $(location).attr('href', url);
            });
        })
    </script>
</head>

<body>
    {% include "safe_zone_app/header.html" %}

    <div class="container">
        <div class="sub_container">
            <nav class="dropdown">
                <div class="dropbtn">Menu</div>
                <div class="dropdown_content">
                    <span id="edit">
                        Edit profile
                    </span>
                    <span id="sign_out">
                        Sign out
                    </span>
                    <span id="user_page">
                        Show user page
                    </span>
                    <span id="direct_message">
                        Send a message to the admin
                    </span>
                    <span id="upload_file">
                        Upload a file
                    </span>
                </div>
            </nav>
        </div>

        <div class="row">
            <h1 class="welcome">
                Welcome {{request.session.first_name}} {{request.session.last_name}}
            </h1>
        </div>
        <div class="row center">
            <div class="reports wide">
                <table id="company_info">
                    <tr>
                        <th>Report ID:</th>
                        <th>Checked at</th>
                        <th>Status</th>
                        <th>Link</th>
                    </tr>
                    {% for report in reports %}
                    <tr>
                        <td>
                            {{report.id}}
                        </td>
                        <td>
                            {{report.checked_at}}
                        </td>
                        <td>
                            {% if report.is_safe == True %}
                            <span class="safe">Safe</span>
                            {% else %}
                            <span class="not_safe">Not Safe</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="user_in/reports/{{report.id}}"> view </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row center">
            <div class="messages wide">
                <table id="company_info">
                    <tr>
                        <th>Message ID:</th>
                        <th>Message</th>
                        <th>Sent at</th>
                    </tr>
                    {% for message in messages %}
                    <tr>
                        <td>
                            {{message.id}}
                        </td>
                        <td>
                            {{message.message}}
                        </td>
                        <td>
                            {{message.created_at}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <form action="user_in/message_sent/{{user.id}}" method="post">
            {% csrf_token %}
            <div class="send_message">
                <div class="row">
                    <input type="text" name="user_message" id="user_message"
                        placeholder="Please write your message here...">
                </div>
                <div class="row">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
        <div class="row form_container">
            <form action="/upload" method="POST" class="upload_form" id="user_upload_form"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="drag_and_drop">
                    <p>Drag and drop a file, or click here to choose a file</p>
                    <input type="file" name="file" required id="file">
                </div>
                <div class="row upload_btn_container">
                    <input type="submit" id="upload_btn" value="Upload">
                </div>
            </form>
        </div>
        <div id="dialog" title="Basic dialog">
            <p></p>
        </div>
    </div>
</body>

</html>