<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'safe_zone_app/css/style.css' %}">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script>
        $("document").ready(function () {
            $("#sign_out").click(function () {
                var url = "/sign_out";
                $(location).attr('href', url);
            })
            $("#edit").click(function () {
                var url = "/admin/show_user/{{user_id}}/edit";
                $(location).attr('href', url);
            })
        })
    </script>
</head>
</head>

<body>
    {% include "safe_zone_app/header.html" %}
    <div class="container">
        <div class="sub_container">
            <nav class="dropdown">
                <div class="dropbtn">Menu</div>
                <div class="dropdown_content">
                    <span id="edit">
                        Edit profile
                    </span>
                    <span id="sign_out">
                        Sign out
                    </span>
                </div>
            </nav>
        </div>
        <div class="row center_items_container">
            <table>
                <tbody>
                    <tr>
                        <td class="user_info">
                            Name: {{user_first_name}} {{user_last_name}}
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info">
                            User ID: {{user_id}}
                        </td>
                    </tr>
                    <tr>
                        <td class="user_info">
                            User Email: {{user_email}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row center">
            <div class="reports wide">
                <table id="company_info">
                    <tr>
                        <th>Report ID</th>
                        <th>Report Status</th>
                        <th>Report Link</th>
                    </tr>
                    {% for report in all_reports %}
                    <tr>
                        <td>
                            <span>
                                {{report.id}}
                            </span>
                        </td>
                        <td class="report_info row">
                            {% if report.is_safe is True %}
                            <span class="safe">Safe </span>
                            {% else %}
                            <span class="not_safe">Not Safe</span>
                            {% endif %}
                        </td>
                        <td>
                            <span>
                                <a href="/admin/show_user/{{user_id}}/report/{{report.id}}">
                                    View
                                </a>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>

</html>