<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Info</title>
</head>

<body>
    <div>
        User:
        <h1>{{user_first_name}} {{user_last_name}}</h1>
        <h2>{{user_id}}</h2>
        <h3>{{user_email}}</h3>
    </div>
        Reports:
    <div>
        {% for report in all_reports %}
        <a href="#">This is report number {{report.id}},
            click here to view
        </a>
        <br>
        {% endfor %}
    </div>
</body>

</html>